/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
/app/config/database.php
/app/config/mail.php
/app/database/*.sqlite
/app/storage/meta/services.json
/app/config/*/mail.php
/app/config/*/database.php
/app/config/*/app.php
public/packages/*
/app/storage/views/*
/app/storage/logs/*
/app/storage/debugbar/