0.0.0.0:80
{
  proxy / {$APP}:{$PORT} {
    transparent
    except /media /static
  }

  root /var/www

  log /var/log/access.log {
    rotate_size 100 # Rotate after 100 MB
    rotate_age  14  # Keep log files for 14 days
    rotate_keep 10  # Keep at most 10 log files
    rotate_compress # Compress rotated log files in gzip format
  }
}