includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database/migrations
        - resources/lang
        - resources/views

    level: 4
