# Copy this file to "phpstan.neon" and update the parameters section as needed

includes:
    - phpstan.neon.dist

parameters:
    # https://phpstan.org/user-guide/output-format#opening-file-in-an-editor
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
