includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - c3.php
        - _mcrypt_helper.php
    ignoreErrors:
        - '#PHPDoc tag .#'
    excludePaths:
        - tests/*
        - vendor/*
        - database/*
        - resources/*
