<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticProperties="false"
         bootstrap="bootstrap/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="MAIL_FROM_ADDR" value="app@example.com"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <ini name="display_errors" value="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">app/</directory>
    </include>
  </source>
</phpunit>
