#calendar {
	width: 100%;
	margin: 0 auto;
	margin-top: -10px;
}
.calendar-wrapper {
	position: relative;
	
	/* calendar-wrapper popup */
	.popup {
		position: absolute;
		background: #fff;
		text-align: left;
		width: 260px;
		border: 1px solid rgb(178, 180, 182);
		box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.35);
		border-radius: 4px;
		padding: 14px 20px 14px 20px;
		z-index: 999;
		left: 635px;
		top: 50px;
		h5 {
			text-transform: uppercase;
			font-weight: 600;
			margin: 0 0 21px 0;
			font-size: 14px;
			color: #7e91aa;
		}
		.field {
			margin-bottom: 7px;
			.date {
				margin-left: 15px;	
			}
			.event-input {
				position: relative;
				top: 5px;
				margin-left: 10px;
				width: 70%;
			}
		}
		input[type="submit"]{
			float: right;
			margin-right: 15px;
		}
		i.close-pop{
			position: absolute;
			right: 11px;
			cursor: pointer;
			top: 12px;
			opacity: 0.6;

			transition: opacity .1s linear;
			-moz-transition: opacity .1s linear;
			-webkit-transition: opacity .1s linear;
			-o-transition: opacity .1s linear;

			&:hover {
				opacity: 1;
			}
		}
		.pointer {
			position: absolute;
			bottom: 0;
			left: 46%;
			.arrow,
			.arrow_border {
				border-color: #fff transparent transparent transparent;
				border-width: 11px;
				border-style: solid;
				font-size: 0;
				left: 50%;
				line-height: 0;
				margin: 0 auto;
				position: absolute;
				top: 0;
				width: 0;
				z-index: 1002;
				left: 0;
				margin-left: 45%;
			}
			.arrow_border {
				border-color: rgb(136, 136, 136) transparent transparent transparent;
				border-width: 12px;
				margin-left: -1px;
				border-style: solid;
				z-index: 1001;
				top: 0px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.calendar-wrapper .popup {
		display: none;
	}
}
