.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}

/* Code blocks */
pre > code {
    display: block;
    font-size: 12px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}
pre > code.hljs {
    background: transparent;
}
pre {
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}

p.menu-section {
    color: white;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bottom-note {
    color: white;
}

li {
padding-bottom: 10px;
}

li:before {
font-family: 'FontAwesome';
content: '\f101';
margin:0 5px 0 -15px;
}

li.navitems {
padding-bottom: 0px;
}

li.navitems:before {
margin:0px;
content: '';
}

li.active {
background-color: #1b557a;
}

ul {
    padding-bottom: 10px;
    padding-left: 50px;
}

ul.nav {
    padding-bottom: 0px;
    padding-left: 0px;
}

.blue-alert {
    background-color: #77b7e1;
    border: 1px solid #57a6da;
    padding: 15px;
    color: white;
    min-height: 65px;
    margin-bottom: 20px;
}

.clear {
     clear: both;
}

.subnav-indent {
    margin-left: 15px;
}

.grey-alert {
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
    padding: 10px;
}
